[submodule "helpdesk"]
	path = helpdesk
	url = https://github.com/NeuroSquare/HelpDesk
	branch = api/website_backend
[submodule "landing"]
	path = landing
	url = https://github.com/NeuroSquare/landing
	branch = dev
[submodule "asker_bot"]
	path = asker_bot
	url = https://github.com/NeuroSquare/AskerBot
	branch = dev
